@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@300&display=swap')
* {
  font-family: Courier, monospace !important;
}
p {
  font-family: Courier, monospace !important;
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #008800;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #ffffff;
    --bs-gray: #93a5be;
    --bs-gray-dark: #4E5079;
    --bs-primary: #418B78;
    --bs-secondary: #183B56;
    --bs-tertiary: #FC6666;
    --bs-primary-app: #EBF4F6;
    --bs-secondary-app: #424AA0;
    --bs-light: #E5EAF4;
    --bs-lighten: #F9FAFE;
    --bs-success: #008800;
    --bs-info: #0d6efd;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-white: #ffffff;
    --bs-gray: #424767;
    --bs-neutral: #ffffff;
    --bs-dark: #183B56;
    --bs-soft: #eff1f5;
    --bs-black: #171f38;
    --bs-blue: #0d6efd;
    --bs-purple: #6f42c1;
    --bs-soft-indigo: #f5e8ff;
    --bs-soft-green: #2CA58D;
    --bs-gray-100: #fbfbfd;
    --bs-gray-200: #eff1f5;
    --bs-gray-300: #F9FAFE;
    --bs-gray-400: #E5EAF4;
    --bs-gray-500: #B7C3D2;
    --bs-gray-600: #93a5be;
    --bs-gray-700: #52547a;
    --bs-gray-800: #4E5079;
    --bs-facebook: #3b5999;
    --bs-twitter: #1da1f2;
    --bs-google: #DB4337;
    --bs-instagram: #e4405f;
    --bs-pinterest: #bd081c;
    --bs-youtube: #cd201f;
    --bs-slack: #3aaf85;
    --bs-dribbble: #ea4c89;
    --bs-dropbox: #1E90FF;
    --bs-twitch: #4B367C;
    --bs-paypal: #ecb32c;
    --bs-behance: #0057ff;
    --bs-reddit: #E84422;
    --bs-github: #222222;
    --bs-font-sans-serif: Courier, sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, Courier, Courier, monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424767;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(23, 31, 56, 0);
}


$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 0.0625rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.3;
    color: #183B56;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 2.5rem;
    }
}

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem;
    }
}


h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}


b,
strong {
    font-weight: 700;
}


a {
    color: #183B56;
    text-decoration: none;
}

a:hover {
    color: #07121a;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}


img,
svg {
    vertical-align: middle;
}


button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}


select {
    word-wrap: normal;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}


::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}


iframe {
    border: 0;
}


.lead {
    font-size: 1.25rem;
    font-weight: 400;
}