<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EXIFDateChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="BitFactory.Logging" type="BitFactory.Logging.Configuration.LoggingSection, BitFactory.Logging"/>
  </configSections>
  <BitFactory.Logging name="global" xmlns="http://BitFactory.Logging">
  </BitFactory.Logging>
  <userSettings>
    <EXIFDateChanger.Properties.Settings>
      <setting name="LastUpdateChecked" serializeAs="String">
        <value>2010-01-01</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NewVerAvailable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Recursive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PreserveModDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OverwriteOrigFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddCaption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Caption" serializeAs="String">
        <value />
      </setting>
      <setting name="RenameFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputMask" serializeAs="String">
        <value>%Y-%m-%d %H-%M-%S - %%f%%-c.%%e</value>
      </setting>
      <setting name="EXIFToolLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="AddCopyright" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Copyright" serializeAs="String">
        <value />
      </setting>
      <setting name="SourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputMaskHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="Locale" serializeAs="String">
        <value />
      </setting>
      <setting name="UseFileCreatedDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SetFileCreatedDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Credit" serializeAs="String">
        <value />
      </setting>
      <setting name="Keywords" serializeAs="String">
        <value />
      </setting>
      <setting name="AddKeywords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AddCredit" serializeAs="String">
        <value>False</value>
      </setting>
    </EXIFDateChanger.Properties.Settings>
  </userSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>-->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86;x64"/>
    </assemblyBinding>
  </runtime>-->
</configuration>
